$width: 400px;
.popup {
  position: absolute;
  width: 100%;
  display: inline-block;
  cursor: pointer;

  .popuptext {
    visibility: hidden;
    width: $width;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(21, 53, 121);
    color: #fff;
    text-align: center;
    border-radius: 0 0 6px 6px;
    padding: 8px 0;
    position: fixed;
    z-index: 1;
    top: 40%;
    left: 50%;
    margin-left: -($width/2);
  }

  .head {
    width: $width;
    display: flex;
    background-color: #555;
    border-radius: 6px 6px 0 0;
    justify-content: flex-end;
    position: fixed;
    z-index: 1;
    top: calc(40% - 24px);
    left: 50%;
    margin-left: -($width/2);
    visibility: hidden;

    .icon-wrapper {
      display: inline-block;
      padding-right: 5px;
      svg {
        color: white;
      }
    }
  }

  .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
